@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

#root {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
}

.landing-row {
  margin: 0;
  background: linear-gradient(to top, #000000 0%, #072002 50%) !important;
}

.landing-row:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 900px;
  background: rgb(76, 187, 48);
  transform: skew(-100deg);
  transform-origin: bottom;
}

nav.navbar {
  background-color: rgb(76, 187, 48) !important;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.left-col {
  margin-top: 15%;
}

.right-col {
  margin-top: 15%;
}

/* containers */

.main-container {
  height: 100%;
  background: linear-gradient(to bottom, #000000 20%, #030e01 50%) !important;
  padding: 15px;
}

.user-container {
  border-radius: 0.4rem;
  background: rgb(15, 15, 15);
  height: 20%;
  width: 350px !important;
  padding: 10px;
  margin: 40px 0px 0px 40px !important;
}

.holdings-container {
  margin: 40px 0px 0px 40px !important;
  width: 40% !important;
  height: 70%;
  border-radius: 0.4rem;
  background: rgb(15, 15, 15);
  padding: 10px;
}

.browse-container {
  margin: 40px 0px 0px 40px !important;
  width: 40% !important;
  height: 35%;
  border-radius: 0.4rem;
  background: rgb(15, 15, 15);
  padding: 10px;
}

img.splash-image {
  width: 500px;
}

.welcome-text {
  opacity: 0.9;
  color: white;
  font-size: 3rem;
}

.topia-color {
  color: rgb(76, 187, 48);
}

.description-text {
  padding-right: 100px;
  color: white;
}

.second-description-text {
  color: rgb(76, 187, 48);
  font-size: 2rem;
}

.log-in-button-text {
  color: rgb(228, 228, 228);
  margin-right: 4px;
}

.account-button-text {
  color: rgb(228, 228, 228);
}

.user-icon {
  margin: 0px 8px 2px 0px;
}

.log-in-text {
  font-family: "Roboto", sans-serif;
}

.input-col {
}

.log-in-header {
  margin-top: 60px;
}

.key-icon {
  height: 45px;
  width: 45px;
  color: rgb(76, 187, 48);
}

.form-control.username-input {
  border-radius: 0rem;
}

label.label-text {
}

button {
}

button.log-in-button {
  border-radius: 0rem;
  background-color: rgb(76, 187, 48);
  border-color: grey;
  border: 1px solid transparent;
  padding: 2px 2px;
}

button.log-in-button:hover {
  background-color: #1aac3c;
  border: 1px solid transparent;
}

.landing-page-buttons {
  margin-left: 20px !important;
}

.heading-text {
  color: rgb(219, 219, 219);
}

.titles-text {
  font-size: 0.8rem;
  color: rgb(156, 156, 156);
}

.symbols-text {
  color: rgb(156, 156, 156);
}

.name-text {
  font-size: 0.9rem;
  color: rgb(219, 219, 219);
}

#holdings {
margin-left: 50%;
}

#holding-text {
  margin-left: 33%;

}

/* Columns */

.left-col {
  
}

.company-text {
color: white;
}

.share-text {
  color: white;
}

.buy-button {
  margin-left: 30px;

}