html,
body {
  height: 100%;
  margin: 0px;
  font-size: 16px;
}

body {
  margin: 0;
  background: linear-gradient(to top, #000000 0%, #200202 50%) !important;
  
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width:600px;
  background: rgb(76, 187, 48);
  transform: skew(-32deg);
  transform-origin:bottom;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.left-col {

margin-top: 25%;

}

.right-col {
  margin-top: 25%;

 }

 img.splash-image {
   width: 500px;
 }

 .welcome-text {
  opacity: 0.9;
  color: white;
  font-size: 3rem;
 }

 .topia-color {
  color: rgb(76, 187, 48);
 }

 .description-text {
   padding-right: 100px;
   color: white;
 }

 .second-description-text {
   color: rgb(76, 187, 48);
   font-size: 2rem;
 }
 


