.result-text {
  position: relative;
  bottom: 28px;
  color: #1aac3c;
}

.current-label {
  margin-top: 48px;
  margin-bottom: 0;
  display: block;
}

.search-icon {
  position: relative;
  left: 180px;
  bottom: 32px;
  color: #1aac3c;
}

.x-icon {
  position: relative;
  left: 180px;
  bottom: 32px;
  color: #a51e0d;
}

.search-form {
  height: 100px;
}

.review-alert {
  margin: 0px 25px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
