/* containers */
.main-container {
  height: 100%;
  padding: 15px 15px;
}

.user-container {
  border-radius: 0.4rem;
  border: solid 1px #1aac3c;
  opacity: 0.8;
  background: rgb(15, 15, 15);
  height: 31%;
  width: 90% !important;
  padding: 10px 8px 20px !important;
  margin: 20px 0px 0px 40px !important;
}

.holdings-container {
  opacity: 0.8;
  margin: 15px 0px 0px 40px !important;
  width: 90% !important;
  border-radius: 0.4rem;
  background: rgb(15, 15, 15);
  padding: 10px 8px 20px !important;
  border: solid 1px #1aac3c;
}

/* columns */
.left-col {
  margin-top: 15%;
  padding-left: 50px !important;
  padding-bottom: 0;
}

.right-col {
  margin-top: 15%;
}

.heading-text {
  margin-left: 15px;
  color: white;
}

.titles-text {
  color: white;
  margin-left: 0 !important;
}

#holdings {
  margin-left: 50%;
}

#holding-text {
  margin-left: 33%;
}

.company-text {
  position: relative;
  right: 10px;
  color: #1aac3c;
  padding: 10px;
  margin-left: 15px;
}

.shares-current {
  color: rgb(156, 156, 156);
  margin-left: 15px;
}
